<p>レビューを書く</p>
<%= form_with model: post, url: public_spot_posts_path(spot), local: true do |f| %>
  <div class = "rating">
    <i class="fas fa-star"></i>
    <span class = "fa fa-star-o"></span>
    <span class = "fa fa-star-o"></span>
    <span class = "fa fa-star-o"></span>
    <span class = "fa fa-star-o"></span>
  </div>
  <% f.hidden_field :spot_id %>
  <% f.hidden_field :star %>
  <%= f.text_area :comment %>
  <%= f.submit "保存" %>
  <%= link_to "他のレビューを見る", public_spot_posts_path(spot) %>
<% end %>